html, body, .v-application {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fafafa;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}